// Themes
@mixin theme-light {
  --gray-100: #fff8e5;
  --gray-200: #f2e6c1;
  --gray-500: #e5dab7;

  --color-link: #33a083;
  --color-visited-link: #8333a0;

  --body-background: #f7eed2;
  --body-font-color: #0b1326;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #80e5ca;
  --color-visited-link: #c173dd;

  --body-background: #363f54;
  --body-font-color: #fffbf2;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
